<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
<script type="text/javascript"
	src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="css/style.css" />
</head>
<body class="container text-center">
	<div class="ans-pj-div-show">
		<p id="joke-title" th:text="${pj}"></p>
		<hr />
		<div class="pj-ans-block" id="pj-ans-block">
			<p class="laugh-animate">😆</p>
			<p class="ans-text" th:text="${pja}"></p>
			<p class="laugh-animate">😆</p>
		</div>
	</div>

	<script type="text/javascript" src="js/script.js">
		
	</script>
</body>
</html>